.form__group {
	position: relative;
	padding: 15px 5px 0 5px;
	margin-top: 5px;
}

ion-item {
	color: #575d66;
	--border-color: #d4d7db;
	--highlight-color-focused: #2f5586;
	--padding-start: 15px;
	--inner-padding-end: 0;
	ion-input {
		//margin-left: 15px;
		color: #41464e;
	}
}

ion-toolbar {
	--background: var(--ion-color-salmon-admin);
}

.error {
	color: red;
	margin-left: 10px;
}
