.form__group {
	position: relative;
	padding: 15px 5px 0 5px;
	margin-top: 5px;
}

ion-item {
	color: #575d66;
	--border-color: #d4d7db;
	--highlight-color-focused: #2f5586;
	--padding-start: 15px;
	--inner-padding-end: 0;
	ion-input {
		color: #41464e;
	}
}

ion-toolbar {
	--background: var(--ion-color-salmon-admin);
}

.hireButton {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	height: 45px;
	--background: var(--ion-color-red-charmander);
}

.clearForm {
	width: 70%;
	margin-top: 15px;
	margin-left: 15%;
	margin-right: 15%;
	height: 30px;
}
