<ion-header class="ion-no-border">
	<ion-toolbar mode="ios" class="GSanity-toolbar">
		<ion-title>{{"visit.visits"|translate}}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-segment
		><ion-grid
			><ion-row
				><ion-col size="5">{{"visit.doctor"|translate}}:</ion-col
				><ion-col size="7">
					<ion-select
						[(ngModel)]="doctorUid"
						name="doctorUid"
						(ionChange)="getDoctorVisits()"
					>
						<ion-select-option
							value="{{doctor.uid}}"
							*ngFor="let doctor of doctors | async"
						>
							{{doctor.name}} {{doctor.surnames}} </ion-select-option
						><ion-select-option value="">
							{{"visit.allDoctors"|translate}}
						</ion-select-option>
					</ion-select></ion-col
				></ion-row
			>
		</ion-grid>
	</ion-segment>
	<ion-item
		*ngFor="let visit of visits | async"
		routerLink="visit/{{visit.id}}"
	>
		<ion-label>
			<h2>{{ visit.date}}</h2>
			<p>
				{{"visit.InitialDescription"|translate}}: {{
				visit?.initialDescription }}
			</p>
		</ion-label>
	</ion-item>
</ion-content>
