<ion-header class="ion-no-border">
	<ion-toolbar> </ion-toolbar>
</ion-header>

<ion-content>
	<ion-card mode="ios" class="ion-no-margin">
		<ion-img src="assets/images/LoginAsset.png"></ion-img>
		<ion-card-header>
			<ion-card-title> {{ 'welcome.title' | translate }} </ion-card-title>
			<ion-card-subtitle class="ion-text-lowercase">
				{{"welcome.text"|translate}}</ion-card-subtitle
			>
		</ion-card-header>
		<ion-card-content>
			<div class="signin-buttons">
				<ion-button
					expand="block"
					fill="solid"
					shape="round"
					class="loginbtn"
					href="/login"
					>{{"welcome.login"|translate}}</ion-button
				>
				<ion-button
					expand="block"
					fill="outline"
					shape="round"
					href="/register"
					>{{"welcome.signUp"|translate}}</ion-button
				>
			</div>
		</ion-card-content>
	</ion-card>
	<p class="footer">
		{{"welcome.creado"|translate}}: Alberto Bergantiños
		{{"welcome.y"|translate}} Arnau Torres
	</p>
</ion-content>
