<ion-header class="ion-no-border">
	<ion-toolbar mode="ios" class="GSanity-toolbar">
		<ion-buttons slot="start">
			<ion-back-button
				defaultHref="visits"
				icon="chevron-back-outline"
				text=""
				mode="ios"
			>
			</ion-back-button>
		</ion-buttons>
		<ion-title>{{"visit.visit"|translate}}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-title class="title">{{"visit.hours"|translate}}</ion-title>
	<div class="scroll">
		<section *ngFor="let hour of hours ">
			<span *ngIf="hoursPicked.indexOf(hour.hour)==-1">
				<h4>
					{{hour.hour}}<span *ngIf="hour.hour.indexOf('30')==-1">0</span>
				</h4>
			</span>
			<span *ngIf="hoursPicked.indexOf(hour.hour)!=-1">
				<h4 style="color: lightgray">
					{{hour.hour}}<span *ngIf="hour.hour.indexOf('30')==-1">0</span>
				</h4>
			</span>
		</section>
	</div>

	<ion-card mode="ios">
		<ion-card-title class="ion-text-center">{{visit?.date}}</ion-card-title>
		<ion-card-content>
			<form #form="ngForm" (ngSubmit)="updateVisit()">
				<ion-item>
					<ion-label position="stacked"
						>{{"visit.InitialDescription"|translate}}:</ion-label
					>
					<p>{{visit?.initialDescription}}</p>
				</ion-item>
				<ion-item>
					<ion-label position="stacked"
						>{{"visit.doctor"|translate}}:</ion-label
					>
					<p>{{doctor?.name}} {{doctor?.surnames}}</p>
				</ion-item>
				<ion-item>
					<ion-label position="stacked"
						>{{"visit.time"|translate}}:</ion-label
					>
					<ion-datetime
						[(ngModel)]="time"
						name="time"
						displayFormat="HH:mm"
						hourValues="8,9,10,11,12,15,16,17,18,19"
						minuteValues="0,30"
						required
						mode="md"
					></ion-datetime>
				</ion-item>
				<ion-button
					expand="block"
					[disabled]="form.invalid"
					mode="ios"
					type="submit"
					>{{"visit.updateVisit"|translate}}</ion-button
				>
			</form>
		</ion-card-content></ion-card
	>
</ion-content>
