ion-toolbar {
	--background: var(--ion-color-yellow-employee);
}
ion-title {
	margin-top: 10px;
	margin-bottom: -10px;
	text-align: center;
}
.scroll {
	margin: 10px;
	margin-right: 15px;
	width: 100%;
	overflow-y: hidden;
	overflow-x: scroll;
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
	section {
		padding: 5px;
		float: left;
	}
}
