<ion-header>
	<ion-toolbar>
		<ion-title>visit</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-segment>
		<ion-grid>
			<ion-row>
				<section *ngFor="let hour of hours ">
					<ion-col *ngIf="hoursPicked.indexOf(hour.hour)==-1">
						<span>{{hour.hour}}</span></ion-col
					>
				</section>
			</ion-row>
		</ion-grid></ion-segment
	>
	<ion-card>
		<form #form="ngForm" (ngSubmit)="updateVisit()">
			<ion-item mode="ios">
				<ion-title>{{visit?.date}}</ion-title>
			</ion-item>
			<ion-item>
				<ion-label position="stacked">Descripcion Inicial:</ion-label>
				<p>{{visit?.initialDescription}}</p>
			</ion-item>
			<ion-item>
				<ion-label position="stacked">Doctor:</ion-label><br />
				<p>{{doctor?.name}}</p>
			</ion-item>
			<ion-item>
				<ion-label position="stacked">Hora:</ion-label><br />
				<ion-datetime
					[(ngModel)]="time"
					name="time"
					displayFormat="HH:mm"
					hourValues="8,9,10,11,12,15,16,17,18,19"
					minuteValues="0,30"
					required
				></ion-datetime>
			</ion-item>
			<ion-button
				expand="block"
				[disabled]="form.invalid"
				mode="ios"
				type="submit"
				>Update Visit</ion-button
			>
		</form></ion-card
	>
</ion-content>
