:host {
	ion-tab-bar {
		position: absolute;
		bottom: 10px;
		width: 90%;
		align-self: center;
		border-radius: 20px;
		display: flex;
		justify-content: space-between;
		padding: 5px;
		ion-icon {
			color: black;
			font-size: 1.8rem;
		}
	}

	ion-tab-button {
		max-width: 56px;
		max-height: 36px;
		background-color: transparent;
		color: rgba(255, 255, 255, 0.5);
	}

	.tab-selected {
		color: #fff;
		background-color: #b1d8b7;
		border-radius: 20px;
		max-width: 80px;
		max-height: 45px;
	}
}
