<ion-header class="ion-no-border">
	<ion-toolbar mode="ios" class="GSanity-toolbar">
		<ion-title> {{"patient.history"|translate}} </ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-list mode="ios" class="elementsList" lines="full">
		<ion-item
			*ngFor="let visit of visits | async"
			routerLink="visit/{{visit.id}}"
		>
			<ion-label>
				<h2>{{ visit.date | date:'dd/MM/YYYY'}}</h2>
				<p>
					{{"visit.InitialDescription"|translate}}: {{
					visit.initialDescription }}
				</p>
				<p>{{"visit.Resolution"|translate}}: {{ visit.resolution }}</p>
			</ion-label>
		</ion-item>
	</ion-list>
	<div *ngIf="(visits | async)?.length === 0" class="notResultsFound">
		<ion-img src="assets/images/notResultsFound.png"></ion-img>
		<ion-title class="ion-text-center"
			>{{"notFound.visitsInPatientHistory" | translate}}</ion-title
		>
	</div>
</ion-content>
