<ion-header class="ion-no-border">
	<ion-toolbar mode="ios" class="GSanity-toolbar">
		<ion-title> {{"patient.history"|translate}} </ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-item
		*ngFor="let visit of visits | async"
		routerLink="visit/{{visit.id}}"
	>
		<ion-label>
			<h2>{{ visit.date | date:'dd/MM/YYYY'}}</h2>
			<p>
				{{"visit.InitialDescription"|translate}}: {{
				visit.initialDescription }}
			</p>
			<p>{{"visit.Resolution"|translate}}: {{ visit.resolution }}</p>
		</ion-label>
	</ion-item>
</ion-content>
