ion-toolbar {
	--background: var(--ion-color-green-patient);
}

.solicitarForm {
	padding: 5px;
	margin: 5px;
	margin-top: 70px;
	margin-bottom: 70px;
	vertical-align: middle;
	border-radius: 5px;
	background-color: white;
	h3 {
		text-align: center;
	}
}

ion-textarea {
	margin-top: 3px;
	margin-bottom: 1px;
	//--background: rgb(246, 246, 246);
}
