<ion-header class="ion-no-border">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button
				defaultHref="welcome"
				icon="chevron-back-outline"
				text=""
			>
			</ion-back-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-card class="ion-no-margin" mode="ios">
		<ion-card-header>
			<ion-card-title> {{"welcome.signUp"|translate}} </ion-card-title>
			<ion-card-subtitle> {{"auth.signUpText"|translate}}</ion-card-subtitle>
		</ion-card-header>
	</ion-card>
	<form [formGroup]="form" (ngSubmit)="submitForm()" novalidate>
		<ion-grid>
			<ion-row>
				<ion-col>
					<ion-item>
						<ion-icon name="person-outline"></ion-icon>
						<ion-label position="floating"
							>{{"user.name"|translate}}*</ion-label
						>
						<ion-input
							formControlName="name"
							required
							type="text"
						></ion-input>
					</ion-item>
					<div class="error">
						<ng-container
							*ngFor="let validation of validationMessages.name"
						>
							<div
								*ngIf="form.get('name').hasError(validation.type) && (form.get('name').dirty || form.get('name').touched || isSubmitted)"
							>
								{{ validation.message | translate }}
							</div>
						</ng-container>
					</div>
				</ion-col>
				<ion-col>
					<ion-item>
						<ion-icon name="person-outline"></ion-icon>
						<ion-label position="floating"
							>{{"user.surnames"|translate}}*</ion-label
						>
						<ion-input
							required
							formControlName="surnames"
							type="text"
						></ion-input>
					</ion-item>
					<div class="error">
						<ng-container
							*ngFor="let validation of validationMessages.surnames"
						>
							<div
								*ngIf="form.get('surnames').hasError(validation.type) && (form.get('surnames').dirty || form.get('surnames').touched || isSubmitted)"
							>
								{{ validation.message | translate }}
							</div>
						</ng-container>
					</div></ion-col
				>
			</ion-row>
			<ion-row>
				<ion-col>
					<ion-item>
						<ion-icon name="mail-outline"></ion-icon>
						<ion-label position="floating"
							>{{"user.email"|translate}}*</ion-label
						>
						<ion-input
							required
							formControlName="email"
							type="email"
						></ion-input>
					</ion-item>
					<div class="error">
						<ng-container
							*ngFor="let validation of validationMessages.email"
						>
							<div
								*ngIf="form.get('email').hasError(validation.type) && (form.get('email').dirty || form.get('email').touched || isSubmitted)"
							>
								{{ validation.message | translate }}
							</div>
						</ng-container>
					</div>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col size="6">
					<ion-item>
						<ion-icon name="male-female-outline"></ion-icon>
						<ion-label position="floating"
							>{{"user.gender"|translate}}*</ion-label
						>
						<ion-select
							interface="popover"
							required
							formControlName="gender"
						>
							<ion-select-option value="male"
								>{{"user.male"|translate}}</ion-select-option
							>
							<ion-select-option value="female"
								>{{"user.female"|translate}}</ion-select-option
							>
						</ion-select>
					</ion-item>
					<div class="error">
						<ng-container
							*ngFor="let validation of validationMessages.gender"
						>
							<div
								*ngIf="form.get('gender').hasError(validation.type) && (form.get('gender').dirty || form.get('gender').touched || isSubmitted)"
							>
								{{ validation.message | translate }}
							</div>
						</ng-container>
					</div>
				</ion-col>
				<ion-col size="6" class="calendar">
					<ion-item class="date-picker">
						<ion-label position="stacked"
							>{{"user.bornDate"|translate}}*</ion-label
						>
						<ion-input
							class="ion-no-border"
							formControlName="bornDate"
							type="date"
						></ion-input>
					</ion-item>
					<div class="error">
						<ng-container
							*ngFor="let validation of validationMessages.bornDate"
						>
							<div
								*ngIf="form.get('bornDate').hasError(validation.type) && (form.get('bornDate').dirty || form.get('bornDate').touched || isSubmitted)"
							>
								{{ validation.message | translate }}
							</div>
						</ng-container>
					</div></ion-col
				>
			</ion-row>
			<ion-row>
				<ion-col size="6">
					<ion-item>
						<ion-icon name="card-outline"></ion-icon>
						<ion-label position="floating"
							>{{"user.dni"|translate}}*</ion-label
						>
						<ion-input formControlName="dni" type="text"></ion-input>
					</ion-item>
					<div class="error">
						<ng-container
							*ngFor="let validation of validationMessages.dni"
						>
							<div
								*ngIf="form.get('dni').hasError(validation.type) && (form.get('dni').dirty || form.get('dni').touched || isSubmitted)"
							>
								{{ validation.message | translate }}
							</div>
						</ng-container>
					</div>
				</ion-col>
				<ion-col size="6">
					<ion-item>
						<ion-icon name="medkit-outline"></ion-icon>
						<ion-label position="floating"
							>{{"user.mediCard"|translate}}*</ion-label
						>
						<ion-input formControlName="mediCard" type="text"></ion-input>
					</ion-item>
					<div class="error">
						<ng-container
							*ngFor="let validation of validationMessages.mediCard"
						>
							<div
								*ngIf="form.get('mediCard').hasError(validation.type) && (form.get('mediCard').dirty || form.get('mediCard').touched || isSubmitted)"
							>
								{{ validation.message | translate }}
							</div>
						</ng-container>
					</div>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<ion-item>
						<ion-icon name="lock-closed-outline"></ion-icon>
						<ion-label position="floating"
							>{{"auth.passw"|translate}}*</ion-label
						>
						<ion-input
							formControlName="password"
							type="password"
						></ion-input>
					</ion-item>
					<div class="error">
						<ng-container
							*ngFor="let validation of validationMessages.password"
						>
							<div
								*ngIf="form.get('password').hasError(validation.type) && (form.get('password').dirty || form.get('password').touched || isSubmitted)"
							>
								{{ validation.message | translate }}
							</div>
						</ng-container>
					</div>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<ion-item>
						<ion-icon name="lock-closed-outline"></ion-icon>
						<ion-label position="floating"
							>{{"auth.confirmPassw"|translate}}*</ion-label
						>
						<ion-input
							formControlName="confirmPassword"
							type="password"
						></ion-input>
					</ion-item>
					<div class="error">
						<ng-container
							*ngFor="let validation of validationMessages.confirmPassword"
						>
							<div
								*ngIf="form.get('confirmPassword').hasError(validation.type) && (form.get('confirmPassword').dirty || form.get('confirmPassword').touched || isSubmitted)"
							>
								{{ validation.message | translate }}
							</div>
						</ng-container>
						<div
							class="error-message"
							*ngIf="!form.get('confirmPassword').errors && form.hasError('passwordNotMatch') && (form.get('confirmPassword').dirty || form.get('confirmPassword').touched)"
						>
							{{"errors.confirmPasswordNotMatch"|translate}}
						</div>
					</div>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<div class="sign-btn-wrap">
						<ion-button
							type="submit"
							shape="round"
							expand="block"
							fill="solid"
							class="sign-btn"
							>{{"welcome.signUp"|translate}}</ion-button
						>
					</div>
				</ion-col>
			</ion-row>
		</ion-grid>
	</form>
</ion-content>
