<ion-header class="ion-no-border">
	<ion-toolbar mode="ios" class="GSanity-toolbar">
		<ion-title>{{"visit.visit"|translate}}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-card>
		<form #form="ngForm" (ngSubmit)="updateVisit()">
			<ion-item mode="ios">
				<ion-title>{{visit?.date}}</ion-title>
			</ion-item>
			<ion-item>
				<ion-label position="stacked"
					>{{"visit.InitialDescription"|translate}}:</ion-label
				>
				<p>{{visit?.initialDescription}}</p>
			</ion-item>
			<ion-item>
				<ion-label position="stacked"
					>{{"visit.Resolution"|translate}}:</ion-label
				><br />
				<ion-textarea
					[(ngModel)]="resolution"
					name="resolution"
				></ion-textarea> </ion-item
			><ion-item>
				<ion-label position="stacked"
					>{{"visit.doctor"|translate}}:</ion-label
				><br />
				<p>{{doctor?.name}}</p>
			</ion-item>
			<ion-button
				mode="ios"
				*ngIf="!visit?.prescription"
				expand="block"
				(click)="openPrescription()"
				>{{"visit.createPrescription"|translate}}</ion-button
			>
			<br />

			<ion-card *ngIf="visit?.prescription"
				><ion-grid
					><ion-row
						><ion-col
							><ion-title
								>{{"visit.presctiption"|translate}}</ion-title
							></ion-col
						></ion-row
					>
					<ion-row
						><ion-col size="6">
							{{visit.prescription.medicamentName}} </ion-col
						><ion-col size="6">
							{{visit.prescription.quantity}}
						</ion-col></ion-row
					><ion-row
						><ion-col>{{visit.prescription.schedule}}</ion-col></ion-row
					></ion-grid
				>
			</ion-card>
			<ion-button
				expand="block"
				[disabled]="form.invalid"
				mode="ios"
				type="submit"
				>{{"visit.finishVisit"|translate}}</ion-button
			>
		</form></ion-card
	>
</ion-content>
