<ion-header class="ion-no-border">
	<ion-toolbar mode="ios" class="GSanity-toolbar">
		<ion-title slot="start"> {{"admin.staff" | translate}} </ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-card
		mode="ios"
		*ngFor="let employee of employees | async"
		class="elementsList"
	>
		<ion-item lines="none">
			<ion-avatar *ngIf="employee.name" slot="start" class="avatar"
				><text-avatar
					[name]="employee.name"
					[surnames]="employee.surnames"
				></text-avatar
			></ion-avatar>
			<ion-label
				><ion-text
					><h2 class="ellipsis">
						{{employee.name}} {{employee.surnames}}
					</h2></ion-text
				>
				<p>{{"user."+employee.role | translate}}</p>
			</ion-label>
		</ion-item>
	</ion-card>

	<!-- <ion-button (click)="deleteEmployee(employee.uid)">
			<ion-icon slot="icon-only" name="trash-outline"></ion-icon>
		</ion-button> -->
</ion-content>
