<ion-header class="ion-no-border">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button
				defaultHref="welcome"
				icon="chevron-back-outline"
				text=""
			>
			</ion-back-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-card class="ion-no-margin" mode="ios">
		<ion-card-header>
			<ion-card-title> Verify Email </ion-card-title>
			<ion-card-subtitle>
				Se ha enviado un mail a la direción facilitada para confirmarlo, en
				caso de no haberlo recibido pulsa el siguiente
				botón</ion-card-subtitle
			>
		</ion-card-header>
		<ion-card-content>
			<div>
				<div class="sign-btn-wrap">
					<p *ngIf="time!= 60 && time>=1">{{time}}</p>
					<ion-button
						id="button"
						shape="round"
						expand="block"
						fill="solid"
						class="sign-btn"
						(click)="onResendEmail()"
						>Enviar Correo de Confirmación</ion-button
					>
				</div>
			</div>
		</ion-card-content>
	</ion-card>
</ion-content>
