ion-toolbar {
	--background: var(--ion-color-yellow-employee);
}

ion-select {
	position: absolute;
	top: 25%;
	left: 2%;
}

.print {
	--background: transparent;
	--background-activated: transparent;
	--color: black;
}
