ion-toolbar {
	--background: var(--ion-color-yellow-employee);
}

ion-select {
	position: absolute;
	top: 25%;
	left: 2%;
}

ion-img {
	background-color: transparent;
	margin: auto;
	width: 30%;
	margin-top: 50%;
}
.print {
	--background: transparent;
	--background-activated: transparent;
	--color: black;
}

.not-found {
	color: rgb(165, 164, 164);
}
