ion-header {
	margin: 0;
	height: 60px;
	.logout {
		--background: transparent;
		--background-activated: transparent;
		--color: black;
	}
}

ion-toolbar {
	--background: var(--ion-color-salmon-admin);
}

ion-card {
	ion-card-header {
		text-align: center;
		ion-avatar {
			display: flex;
			position: absolute;
		}
		ion-card-title {
			margin-left: 40px;
			font-size: 20px;
		}
		ion-card-subtitle {
			margin-left: 40px;
			text-decoration: underline;
		}
	}
}

.profileButtons {
	margin: 2% 5%;
	font-size: 18px;
}
