<ion-header class="ion-no-border">
	<ion-toolbar mode="ios">
		<ion-title slot="start"> Perfil </ion-title>
		<ion-button slot="end" (click)="logout()" class="logout"
			><ion-icon name="power-outline"></ion-icon
		></ion-button>
	</ion-toolbar>
</ion-header>

<ion-content ion-no-margin>
	<ion-card mode="ios">
		<ion-card-header>
			<ion-avatar
				><ion-img src="assets/images/crown_icon.png"></ion-img
			></ion-avatar>
			<ion-card-title>{{user.name}} {{user.surnames}}</ion-card-title>
			<ion-card-subtitle>{{user.role}}</ion-card-subtitle>
		</ion-card-header>
		<ion-card-content>
			<ion-item>
				<ion-label position="fixed">born Date</ion-label>
			</ion-item>
		</ion-card-content>
	</ion-card>
	<ion-label></ion-label>
	<ion-button
		(click)="changeEmail()"
		mode="ios"
		expand="block"
		class="profileButtons"
		>Cambiar Email</ion-button
	>
	<ion-button
		(click)="changePassword()"
		mode="ios"
		expand="block"
		class="profileButtons"
		>Cambiar Contraseña</ion-button
	>
</ion-content>
