<ion-header class="ion-no-border">
	<ion-toolbar mode="ios">
		<ion-title slot="start"> Perfil </ion-title>
		<ion-button slot="end" (click)="logout()" class="logout"
			><ion-icon name="power-outline"></ion-icon
		></ion-button>
	</ion-toolbar>
</ion-header>

<ion-content ion-no-margin>
	<ion-label>{{user.name}} {{user.surnames}}</ion-label>
	<ion-button
		(click)="changeEmail()"
		mode="ios"
		expand="block"
		class="profileButtons"
		>Cambiar Email</ion-button
	>
	<ion-button
		(click)="changePassword()"
		mode="ios"
		expand="block"
		class="profileButtons"
		>Cambiar Contraseña</ion-button
	>
</ion-content>
