ion-header {
	margin: 0;
	.logout {
		--background: transparent;
		--background-activated: transparent;
		--color: black;
	}
}

ion-toolbar {
	--background: var(--ion-color-salmon-admin);
}

ion-card {
	ion-card-content {
		ion-item {
			ion-icon {
				width: 23px;
				margin-right: 5px;
			}
		}
	}
}

.profileButtons {
	margin: 2% 5%;
	font-size: 18px;
}
